body { display:block; }
/* Will add a change according to 27/04 plan*/
.c1container {bottom: 3px;
              left: 10px;
              height: 70%;
              width: 30%;}
.c2container {bottom: 3px;
              right: 10px;
              height: 70%;
              width: 30%;}              
#txt { height: 82%;
       width: 92%;
       margin: auto;
       border: solid 2px rgb(66,66,66);
       padding: 4px;
       background-color: rgba(66,66,66,0.6);} 
#choices { bottom:5px;
          margin: auto;
          border: solid 2px rgb(66,66,66);
          padding: 4px;
          background-color: rgba(66,66,66,0.6);}
.choice-btn { /*Your standard code*/
    



}